<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.pms.ssm.mapper.BlindJudgeMapper">

<!--填充教师信息到页面-->
<select id="getTeacherInfo" parameterType="cn.pms.ssm.po.TeacherQueryVo" resultType="cn.pms.ssm.po.TeacherQueryVo">
		SELECT
		 teacher.Teacher_id,
		 teacher.Teacher_name
		FROM 
		  teacher
		WHERE 
		  id = #{Teacher_id}
</select>

<!--导师提交盲审结果-->
<insert id="insertBlindJudge" parameterType="cn.pms.ssm.po.BlindJudgeGroupVo">
		insert into blindjudgegroup 
			(Teacher_Grade,Teacher_Result,Teacher_description)
		values
			(
				#{Teacher_Grade},
				#{Teacher_Result},
				#{Teacher_description}
			)
</insert>

<!--查询盲审分配结果-->
<select id="findBlindJudgePaper" parameterType="cn.pms.ssm.po.TeacherQueryVo" resultType="cn.pms.ssm.po.TeacherQueryVo">
		SELECT
		 paper.Paper_title,
		 paper.Paper_researchOne,
		 paper.Paper_researchTwo,
		 paper.Paper_researchThree
		FROM 
		  paper,
		  blindjudgegroup
		WHERE 
		  blindjudgegroup.Stu_id = paper.Paper_stuId
</select>

<!--导师查询已经盲审的结果-->
<select id="findBlindResult" parameterType="cn.pms.ssm.po.TeacherQueryVo" resultType="cn.pms.ssm.po.TeacherQueryVo">
		SELECT
		  blindjudgegroup.Teacher_Grade,
		  blindjudgegroup.Teacher_Result,
		  blindjudgegroup.Teacher_description
		FROM 
		  teacher,
		  blindjudgegroup
		WHERE 
		  blindjudgegroup.Teacher_id  = teacher.Teacher_id
</select>

</mapper>