<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.pms.ssm.mapper.BlindJudgeMapper">

<!--导师提交盲审结果-->
<insert id="insertBlindJudge" parameterType="cn.pms.ssm.po.BlindJudgeGroupVo">
		insert into blindjudgegroup 
			(Teacher_Grade,Teacher_Result,Teacher_description)
		values
			(
				#{Teacher_Grade},
				#{Teacher_Result},
				#{Teacher_description}
			)
</insert>

<update id="updateBlindJudge" parameterType="cn.pms.ssm.po.BlindJudgeGroupVo" >
    update 
      blindjudgegroup
    set 
      Teacher_Grade = #{Teacher_Grade},
      Teacher_Result = #{Teacher_Result},
      Teacher_description = #{Teacher_description}
    where 
      Stu_id = #{Stu_id}
</update>

<!--导师查询自己要盲审的论文-->
<select id="findBlindJudgePaper" parameterType="cn.pms.ssm.po.BlindJudgeGroupVo" resultType="cn.pms.ssm.po.BlindJudgeGroupVo">
		SELECT
		 paper.Paper_title,
		 paper.Paper_researchOne,
		 paper.Paper_researchTwo,
		 paper.Paper_researchThree,
		 blindjudgegroup.Stu_id
		FROM 
		  paper,
		  blindjudgegroup
		WHERE 
		  blindjudgegroup.Stu_id = paper.Paper_stuId 
</select>

<!--导师查询已经盲审的结果-->
<select id="findBlindResult" parameterType="cn.pms.ssm.po.BlindJudgeGroupVo" resultType="cn.pms.ssm.po.BlindJudgeGroupVo">
		SELECT
		  Teacher_Grade,
		  Teacher_Result,
		  Teacher_description
		FROM 
		  blindjudgegroup
		WHERE 
		  Stu_id  = #{Stu_id}
</select>

</mapper>