<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.pms.ssm.mapper.BlindJudgeMapper">

	<!--导师提交盲审结果-->
<insert id="insertBlindJudge" parameterType="cn.pms.ssm.po.BlindJudgeGroupVo">
		insert into blindjudgegroup 
			(Teacher_Grade,Teacher_Result,Teacher_description)
		values
			(
				#{Teacher_Grade},
				#{Teacher_Result},
				#{Teacher_description}
			)
</insert>
</mapper>