<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.pms.ssm.mapper.StudentPaperInfoMapper">
<!--学生论文基本信息（上传论文页面）-->
<select id="findStudentPaperInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 paper.Paper_title,
		 paper.Paper_researchOne,
		 paper.Paper_researchTwo,
		 paper.Paper_researchThree,
		 student.Stu_name,
		 student.Stu_id
		FROM 
		  paper,
		  student
		WHERE 
		  paper.Paper_stuId = "201522220299" AND student.Stu_id = "201522220299"
</select>

<!--查询论文信息（JS判断）-->
<!-- <select id="getStudentPaperInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 paper.Paper_title,
		 paper.Paper_researchOne,
		 paper.Paper_researchTwo,
		 paper.Paper_researchThree,
		 paper.Paper_ifPass,
		 blindjudgegroup.Teacher_Result,
		 replyjudgegroup.Reply_result,
		 student.Stu_name,
		 student.Stu_id,
		 file.File.stu_Id
		FROM 
		  paper,
		 blindjudgegroup,
		  replyjudgegroup,
		  student
		WHERE 
		  paper.Paper_stuId = "201522220299" AND student.Stu_id = "201522220299" AND blindjudgegroup.Stu_id = "201522220299"
		  replyjudgegroup.Stu_id = "201522220299" AND File.stu_Id = "201522220299"
</select> -->

<!--查询论文信息（JS判断）-->
<!-- <select id="getStudentPaperInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 paper.Paper_title,
		 paper.Paper_researchOne,
		 paper.Paper_researchTwo,
		 paper.Paper_researchThree,
		 paper.Paper_ifPass,
		 paper.Paper_departPss,
		FROM 
		  paper,
		 blindjudgegroup,
		  replyjudgegroup,
		  student
		<where>
			<if test = "student.Stu_id != null">
				and student.Stu_id  = #{Stu_id}
				<if test = "file.File_stuId != null">
					and file.File_stuId = #{Stu_id}
				</if>
				<if test = "blindjudgegroup.Stu_id != null">
					and blindjudgegroup.Stu_id = #{Stu_id}
				</if>
				<if test = "replyjudgegroup.Stu_id != null">
					and replyjudgegroup.Stu_id = #{Stu_id}
				</if>
				<if test = "paper.Paper_stuId != null">
					and replyjudgegroup.Stu_id = #{Stu_id}
				</if>
			</if>
		</where>
		  
</select> -->

<!--查询论文信息（JS判断）-->
<select id="getStuInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		Stu_name,
		Stu_id,
		Stu_ifdegree
	FROM
		 student 
    WHERE
		 Stu_id = #{Stu_id}
</select>

<select id="getPaperInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 Paper_title,
		 Paper_researchOne,
		 Paper_researchTwo,
		 Paper_researchThree,
		 Paper_ifPass,
		 Paper_departPass,
		 Paper_repetitiveRateAll,
		 Paper_repetitiveRateSingle,
		 Paper_advise,
		 Paper_ifSubmit
	FROM
		 paper 
    WHERE
		 Paper_stuId = #{Stu_id}
</select>

<select id="getFileInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 File_id
	FROM
		 file
    WHERE
		 File_stuId = #{Stu_id}
</select>

<select id="getBlindJudgeInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 Teacher_Result
	FROM
		 blindjudgegroup
    WHERE
		 Stu_id = #{Stu_id}
</select>

<select id="getReplyJudgeInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 Reply_result
	FROM
		 replyjudgegrouplist
    WHERE
		 Stu_id = #{Stu_id}
</select>

<select id="getGradeListInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 Grade_ifPass
	FROM
		 gradelist
    WHERE
		 Stu_id = #{Stu_id}
</select>

<update id="updateForePaperInfo1" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" >
    update 
      paper
    set 
      Paper_ifAdvise = 1
    where 
      Paper_stuId = #{Stu_id}
</update>

<update id="updateSubmit" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" >
    update 
      paper
    set 
      Paper_ifSubmit = 1
    where 
      Paper_stuId = #{Stu_id}
</update>
</mapper>