<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.pms.ssm.mapper.StudentPaperInfoMapper">
<!--学生论文基本信息（上传论文页面）-->
<select id="findStudentPaperInfo" parameterType="cn.pms.ssm.po.StudentPaperInfoVo" resultType="StudentPaperInfoVo">
	SELECT
		 paper.Paper_title,
		 paper.Paper_researchOne,
		 paper.Paper_researchTwo,
		 paper.Paper_researchThree,
		 student.Stu_name,
		 student.Stu_id
		FROM 
		  paper,
		  student
		WHERE 
		  paper.Paper_stuId = "201522220299" AND student.Stu_id = "201522220299"
</select>
</mapper>