<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.pms.ssm.mapper.TeacherQueryStudentMapper">

<!--导师查询自己学生的论文信息-->
<select id="findMyStuInfo" parameterType="cn.pms.ssm.po.TeacherQueryVo" resultType="cn.pms.ssm.po.TeacherQueryVo">
		SELECT
		  paper.Paper_title,
		  paper.Paper_researchOne,
		  paper.Paper_researchTwo,
		  paper.Paper_researchThree,
		  paper.Paper_stuId,
		  paper.Paper_blindjudgePass,
		  Paper.Paper_replyPass,
		  Paper.Paper_ifSubmit,
		  student.Stu_name,
		  student.Stu_id,
		  teacher.Teacher_id,
		  teacher.Teacher_name
		FROM 
		  paper, 
		  student,
		  teacher
		WHERE 
		  paper.Paper_stuId = student.Stu_id AND teacher.Teacher_id = student.Stu_teacherId
</select>

<select id="findTeacherAdvise" parameterType="cn.pms.ssm.po.TeacherQueryVo" resultType="cn.pms.ssm.po.TeacherQueryVo">
		SELECT
		  Paper_ifPass,
		  Paper_ifAdvise,
		  Paper_advise,
		  Paper.Paper_ifReply,
		  Paper.Paper_over
		FROM 
		  paper
		WHERE 
		  Paper_stuId = #{Paper_stuId}
</select>

<update id="updateTeacherAdvise" parameterType="cn.pms.ssm.po.TeacherQueryVo" >
    update 
      paper
    set 
      Paper_ifSubmit = #{Paper_ifSubmit},
      Paper_ifPass = #{Paper_ifPass},
      Paper_advise = #{Paper_advise}
    where 
      Paper_stuId = #{Paper_stuId}
</update>

<update id="updateblindfixAdvise" parameterType="cn.pms.ssm.po.TeacherQueryVo" >
    update 
      paper
    set 
      Paper_ifSubmit = #{Paper_ifSubmit},
      Paper_ifReply = #{Paper_ifReply}
    where 
      Paper_stuId = #{Paper_stuId}
</update>

<update id="updatereplyfixAdvise" parameterType="cn.pms.ssm.po.TeacherQueryVo" >
    update 
      paper
    set 
      Paper_ifSubmit = #{Paper_ifSubmit},
      Paper_over = #{Paper_over}
    where 
      Paper_stuId = #{Paper_stuId}
</update>

<update id="updateAdvise_1" parameterType="cn.pms.ssm.po.TeacherQueryVo" >
    update 
      paper
    set 
      Paper_ifAdvise = 1
    where 
      Paper_stuId = #{Paper_stuId}
</update>
</mapper>