<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.pms.ssm.mapper.UpLoadMapper">
	<insert id="insertPaperItem" parameterType="cn.pms.ssm.po.Paper" >
		INSERT INTO 
		upload_paper 
		VALUES(#{Paper_stuId},#{Paper_researchOne},#{Paper_researchTwo},#{Paper_name})
	</insert>
	
	<update id="updatePaperItem" parameterType="cn.pms.ssm.po.Paper">
		UPDATE 
		upload_paper 
		SET 
		Paper_name = #{Paper_name} 
		WHERE 
		Paper_stuId = #{Paper_stuId}
	</update>
	
	<select id="selectPaperItem" parameterType="cn.pms.ssm.po.Paper" resultType="java.lang.String">
		SELECT 
		Paper_name 
		FROM 
		upload_paper 
		WHERE 
		Paper_stuId = #{Paper_stuId}
	</select>
</mapper>